/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Align items in a column */
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #4CAF50;
}
h3 {
    text-align: center;
    margin: 20px 0;
    color: #4CAF50;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

input[type="file"] {
    margin: 10px 0;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
}

a {
    display: block;
    text-align: center;
    margin: 20px;
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#resultdiv{
border: 2px solid #4CAF50 ;
width : 500px;
height : 200px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column; /* Align items in a column */

}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}






